a {
    text-decoration: none;
    color: inherit;
}

p.running-time {
    background-image: url("../images/clock.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15px 15px;
    padding-left: 23px;
}

p.release-date {
    background-image: url("../images/calendar-event.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15px 15px;
    padding-left: 23px;
}
